@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family: "Android";
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
   
}
:root{
--cor0:#c5ebd6;
--cor1:#83e1ad;
--cor2:#3ddc84;
--cor3:#2fa866;
--cor4:#1a5c37;
--cor5:#063d1e;
--fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
--fonte-destaque:'Bebas Neue', sans-serif;
--fonte-Android:'Android', cursive;
}
* {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor0);
    background-attachment: fixed;
    font-family: var(--fonte-padrao);
}
header{
    
    background-image: linear-gradient(to bottom,var(--cor3),var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1 {

    font-family: var(--fonte-destaque);  
    color: white;
    font-size: 3em;
    padding-bottom: 20px; 
}
header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    margin-bottom: 50px;
    
}
div.video{
    background-color: white;
    position: relative;
    padding: 20px;
    padding-bottom: 59%;

}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 10px;

}
main{
    background-color: white;
    padding: 20px;
    margin: auto;
    min-width: 300px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.384);
    margin-bottom: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    
    
}
main  h1 {
    color: var(--cor5);
    font-family: var(--fonte-Android);

}
main  h2 {
    color: var(--cor5);
    font-family: var(--fonte-Android);

}
main img {
    width: 100%;
}
main img.pequena {
    max-width: 350px;
    margin: auto;
    display: block;
}
main p {
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
    margin: 15px 0px;
}
main strong {
    color: #063d1e;
}
main a {
    text-decoration: none;
    font-weight: bold;
}
main a:hover{
    text-decoration: underline;
    
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.418);
   
    
    
}

nav>a{
  color: beige;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
}
nav>a:hover{
    background-color: var(--cor1);
    transition-duration: 0.5s;
    
}
aside{
    background-color: #8febb8;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.404);
}
aside > ul {
    list-style-position: inside;
   list-style-type:  ' \2714 ';
    columns: 2;
}
aside>h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px ;
    border-radius: 10px 10px 0px 0px ;
}
footer{
   background-color:var(--cor4);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;

}